:root {
  --background-color: beige;
  --text-color: #666;
  --accent-color-primary: #9e8fb2ff;
  --accent-color-primary--lighter: #a7acd9ff;
  --accent-color-secondary: #668586ff;
  --white: #f9f9f9;
}

html {
  background-color: var(--background-color);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  background-color: var(--accent-color-primary--lighter);
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  text-decoration: underline;
}

main {
  margin: 1em;
}

p {
  color: var(--text-color);
}

blockquote {
  background: white;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
  background: var(--contrast-color);
  color: var(--text-color);
  font-size: larger;
  max-width: 100%;
  padding: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 32%;
  padding-bottom: 18%;
  margin-bottom: 2%;
  background-color: var(--accent-color-primary);
}

.item:nth-child(odd) {
  background-color: var(--accent-color-secondary);
}
