@import "./normalize.scss";

html {
  background-color: whitesmoke;
}

body {
  padding: 1em;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
}

main {
  p {
    font-size: inherit;
    color: black;
  }

  code {
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0 1px;
    background-color: whitesmoke;
    padding: 0.13em;
  }
}
