body {
    padding: 0;
    margin: 0;
    background-color: yellow;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 10px 20px;
    margin: 0;
    background-color: orangered;
    border-bottom: 1px solid brown;
}

header h1 {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

h1, h2 {
    font-weight: 300;
}

main {
    margin: 10px 20px;
}
